.block-section {
    margin-bottom: 30px;

    &__wrapp {
        display: grid;
        grid-template-columns: 1fr 65%;
        grid-gap: 30px;

        @include laptop {
            grid-template-columns: 100%;
        }
    }

    &__aside {
        height: 380px;
        background-color: red;
    }
}