.block-section {
    margin-bottom: 30px;

    &__wrapp {
        display: grid;
        grid-template-columns: 1fr 65%;
        grid-gap: clamp(15px, 3.906vw, 30px);

        @include laptop {
            grid-template-columns: 100%;
        }
    }

    &__aside {
        .user-login-form {
            height: 380px;
            padding: 50px 30px;
            background-color: rgba(var(--bg-c),1.0);

            .js-form-block {
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 20px;
                text-align: center;
            }

            .js-form-items {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

            .reset-password {
                display: flex;
                align-items: center;
                gap: 3px;
                color: rgba(var(--cl-e),1.0);

                svg {
                    fill: currentColor;
                }
            }
        }

        .user-pass {
            height: 380px;
            padding: 50px 30px 77px;
            background-color: rgba(var(--bg-c),1.0);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;

            .title {
                flex-grow: 1;
            }

            .js-form-block {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 20px;
                text-align: center;
            }

            .js-form-items {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }
    }

    &__content {
        position: relative;
        padding: 30px 20px;
        background-color:rgba(var(--bg-c),1.0);    
        display: flex;
        flex-direction: column;
        gap: 30px;

        h1 {
            margin-bottom: 30px;
        }
    }
}