.content {
    padding: 30px 20px;
    background-color:rgba(var(--bg-c),1.0);

    h1 {
        margin-bottom: 30px;
    }

    &__navigation {
        margin-bottom: 30px;

        ul {
            display: flex;
            align-items: center;
            gap: 10px;

            li {
                max-width: 122px;
                width: 100%;
                flex-shrink: 0;
            }

            a {
                padding: 12px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                background-color: rgba(var(--bg-a),1.0);
                border-radius: 4px;
                font-family: var(--font-family);;
                font-size: 16px;
                font-weight: 700;
                line-height: 87%;
                color: rgba(var(--cl-e),1.0);
                box-shadow: 0 0 20px 0 rgba(22, 31, 48, 0.1);
                transition: all 0.3s ease;
    
                &:hover {
                    color: rgba(var(--cl-a),1.0);
                    background-color: rgba(var(--bg-e),1.0);
                }
    
                &.active {
                    color: rgba(var(--cl-a),1.0);
                    background-color: rgba(var(--bg-e),1.0);
                }
            }
        }

        @include tablet {
            display: none;
        }
    }

    .sitecontent-ncart-list {
        .js-form-type-item {
            margin-bottom: 40px;
        }
        .text-muted {
            display: block;
            width: 100%;
            text-align: right;
            margin-bottom: 10px;
        }

        .bottom {
            display: flex;
            align-items: center;
            gap: 10px;
            overflow: auto;
        }

        .table-wrapper {
            margin-bottom: 10px;

            @include tablet {
                width: calc(100% + 20px);
                padding-right: 20px;
                overflow-x: auto;
            }
        }

        table {
            width: 100%;
            border-spacing: 0;
            
            thead {
                background-color: #fff9c3;
    
                th {
                    padding: 7px 11px 9px;
                    font-family: var(--font-family);
                    font-size: 12px;
                    line-height: 100%;
                    font-weight: 700;
                    color: rgba(var(--cl-c),1.0);
                    border-right: 1px solid #efc8b3;
    
                    &:last-child {
                        border-right: none;  
                    }
                }
            }
    
            tbody {
                background-color: #fff;
    
                tr:last-child td { 
                    border-bottom: none;  
                }
    
                td {
                    padding: 10px 10px 15px;
                    font-family: var(--font-family);
                    font-size: 14px;
                    line-height: 100%;
                    font-weight: 400;
                    color: rgba(var(--cl-c),1.0);
                    border-right: 1px solid rgba(var(--br-a),1.0);
                    border-bottom: 1px solid rgba(var(--br-a),1.0);
    
                    &:last-child {
                        border-right: none;  
                    }
                }

                .article {
                    max-width: 101px;
                    word-break: break-all;
                }

                .naming {
                    max-width: 113px;
                }

                .status {
                    max-width: 86px;

                    div + div {
                        margin-top: 5px;
                    }
                }

                .available {
                    padding: 3px 7px;
                    border-radius: 4px;
                    background-color: rgba(var(--bg-k),1.0);
                    font-family: var(--font-family);
                    font-size: 12px;
                    line-height: 100%;
                    font-weight: 700;
                    color: rgba(var(--bg-a),1.0);
                }

                .unavailable {
                    padding: 3px 7px;
                    border-radius: 4px;
                    background-color: rgba(var(--bg-l),1.0);
                    font-family: var(--font-family);
                    font-size: 12px;
                    line-height: 100%;
                    font-weight: 700;
                    color: rgba(var(--bg-a),1.0);
                }

                .count {
                    max-width: 65px;
                }

                .discount {
                    max-width: 70px;
                }

                .reg-price,
                .current-price,
                .summary {
                    text-wrap: nowrap;
                }

                .options {
                    div {
                        width: fit-content;
                    }

                    div + div {
                        margin-top: 5px;
                    }

                    a {
                        padding: 4px 6px;
                        border-radius: 4px;
                        font-family: var(--font-family);
                        font-size: 12px;
                        line-height: 100%;
                        font-weight: 400;
                        color: rgba(var(--cl-e),1.0);
                        background-color:  rgba(var(--bg-m),1.0);
                        transition: all 0.3s ease;
                        text-wrap: nowrap;

                        &:hover {
                            background-color: rgba(var(--bg-e),1.0);
                            color: rgba(var(--cl-a),1.0);
                        }

                        &.edit-link,
                        &.delete-link {
                            color: rgba(var(--cl-d),1.0);
                            background-color: rgba(var(--bg-n),1.0);

                            &:hover {
                                background-color: rgba(var(--bg-e),1.0);
                                color: rgba(var(--cl-a),1.0);
                            }
                        }
                    }
                }
            }
    
            @include tablet {
                min-width: 985px;
            }
        }

        .form-submit {
            flex-shrink: 0;
            width: fit-content;
            padding: 11px 30px;
            border-radius: 4px;
            display: block;
            font-family: var(--font-family);
            font-size: 14px;
            line-height: 100%;
            font-weight: 700;
            color: rgba(var(--cl-e),1.0);
            text-wrap: wrap;
            text-align: center;
            transition: all 0.4s ease-in-out;
            cursor: pointer;
        }

        .btn-green {
            background-color: rgba(var(--bg-k),1.0);
            border: 2px solid rgba(var(--bg-k),1.0);
            color: rgba(var(--cl-a),1.0);

            &:hover {
                color: rgba(var(--cl-f),1.0);
                background-color: rgba(var(--bg-a),1.0);
            }
        }

        .btn-default {
            background-color: rgba(var(--bg-a), 1);
            border: 2px solid rgba(var(--br-b), 1);

            &:hover {
                background-color: rgba(var(--bg-e),1.0);
                color: rgba(var(--cl-a),1.0);
            }
        }

        .btn-orange {
            border: 2px solid rgba(var(--br-b),1.0);
            color: rgba(var(--cl-a),1.0);
            background-color: rgba(var(--bg-e),1.0);

            &:hover {
                color: rgba(var(--cl-e),1.0);
                background-color: rgba(var(--bg-a),1.0);
            }
        }
    }

    .sitecontent-ncart-add {
        .table-wrapper {
            margin-bottom: 10px;

            @include tablet {
                width: calc(100% + 20px);
                padding-right: 20px;
                overflow-x: auto;
            }
        }

        table {
            width: 100%;
            margin-top: 40px;
            border-spacing: 0;
            
            thead {
                background-color: #fff9c3;
    
                th {
                    padding: 7px 11px 9px;
                    font-family: var(--font-family);
                    font-size: 12px;
                    line-height: 100%;
                    font-weight: 700;
                    color: rgba(var(--cl-c),1.0);
                    border-right: 1px solid #efc8b3;
    
                    &:last-child {
                        border-right: none;  
                    }
                }
            }
    
            tbody {
                background-color: #fff;
    
                tr:last-child td { 
                    border-bottom: none;  
                }
    
                td {
                    padding: 10px 10px 15px;
                    font-family: var(--font-family);
                    font-size: 14px;
                    line-height: 100%;
                    font-weight: 400;
                    color: rgba(var(--cl-c),1.0);
                    border-right: 1px solid rgba(var(--br-a),1.0);
                    border-bottom: 1px solid rgba(var(--br-a),1.0);
    
                    &:last-child {
                        border-right: none;  
                    }
                }

                .article {
                    max-width: 101px;
                    word-break: break-all;
                }

                .naming {
                    max-width: 113px;
                }

                .status {
                    max-width: 86px;

                    div + div {
                        margin-top: 5px;
                    }
                }

                .available {
                    padding: 3px 7px;
                    border-radius: 4px;
                    background-color: rgba(var(--bg-k),1.0);
                    font-family: var(--font-family);
                    font-size: 12px;
                    line-height: 100%;
                    font-weight: 700;
                    color: rgba(var(--bg-a),1.0);
                }

                .unavailable {
                    padding: 3px 7px;
                    border-radius: 4px;
                    background-color: rgba(var(--bg-l),1.0);
                    font-family: var(--font-family);
                    font-size: 12px;
                    line-height: 100%;
                    font-weight: 700;
                    color: rgba(var(--bg-a),1.0);
                }

                .count {
                    max-width: 65px;
                }

                .discount {
                    max-width: 70px;
                }

                .options {
                    div {
                        width: fit-content;
                    }

                    div + div {
                        margin-top: 5px;
                    }

                    a {
                        padding: 4px 6px;
                        border-radius: 4px;
                        font-family: var(--font-family);
                        font-size: 12px;
                        line-height: 100%;
                        font-weight: 400;
                        color: rgba(var(--cl-e),1.0);
                        background-color:  rgba(var(--bg-m),1.0);
                        transition: all 0.3s ease;

                        &:hover {
                            background-color: rgba(var(--bg-e),1.0);
                            color: rgba(var(--cl-a),1.0);
                        }
                    }
                }
            }
    
            @include tablet {
                min-width: 985px;
            }
        }

        .bottom {
            display: flex;
            align-items: center;
            gap: 10px;
            overflow: auto;
        }

        .form-submit {
            flex-shrink: 0;
            width: fit-content;
            padding: 11px 30px;
            border-radius: 4px;
            display: block;
            font-family: var(--font-family);
            font-size: 14px;
            line-height: 100%;
            font-weight: 700;
            color: rgba(var(--cl-e),1.0);
            text-wrap: wrap;
            text-align: center;
            transition: all 0.4s ease-in-out;
            cursor: pointer;
        }

        .btn-default {
            background-color: rgba(var(--bg-a), 1);
            border: 2px solid rgba(var(--br-b), 1);

            &:hover {
                background-color: rgba(var(--bg-e),1.0);
                color: rgba(var(--cl-a),1.0);
            }
        }

        .btn-orange {
            border: 2px solid rgba(var(--br-b),1.0);
            color: rgba(var(--cl-a),1.0);
            background-color: rgba(var(--bg-e),1.0);

            &:hover {
                color: rgba(var(--cl-e),1.0);
                background-color: rgba(var(--bg-a),1.0);
            }
        }
    }

    
}