.export-products {
    .sitecontent-export-products {
        .export {
            margin-bottom: 20px;
            width: fit-content;
            padding: 11px 30px;
            border-radius: 4px;
            display: block;
            border: 2px solid rgba(var(--br-b),1.0);
            color: rgba(var(--cl-a),1.0);
            background-color: rgba(var(--bg-e),1.0);
            font-family: var(--font-family);
            font-size: 14px;
            line-height: 100%;
            font-weight: 700;
            color: rgba(var(--cl-a),1.0);
            text-wrap: wrap;
            text-align: center;
            transition: all 0.4s ease-in-out;
            cursor: pointer;

            &:hover {
                color: rgba(var(--cl-e),1.0);
                background-color: rgba(var(--bg-a),1.0);
            }
        }

        .fields {
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .js-form-item {
            label {
                width: 100%;
                position: relative;
            }

            input {
                padding: 29px 12px 8px;
                height: 53px;
                background-color: rgba(var(--bg-a),1.0);
                border: 1px solid rgba(var(--br-a),1.0);
                font-family: var(--font-second);
                font-size: 14px;
                line-height: 114%;
                font-weight: 600;
                color: rgba(var(--cl-c),1.0);

                &:read-only {
                    background-color: rgba(var(--bg-h),1.0);
                }
            }

            span {
                position: absolute;
                top: 9px;
                left: 12px;
                font-family: var(--font-second);
                font-size: 14px;
                line-height: 114%;
                font-weight: 600;
                color: rgba(var(--cl-d),1.0);
            }
        }

        .form-submit {
            width: fit-content;
            padding: 11px 30px;
            border-radius: 4px;
            display: block;
            font-family: var(--font-family);
            font-size: 14px;
            line-height: 100%;
            font-weight: 700;
            color: rgba(var(--cl-e),1.0);
            text-wrap: wrap;
            text-align: center;
            transition: all 0.4s ease-in-out;
            cursor: pointer;
            background-color: rgba(var(--bg-a), 1);
            border: 2px solid rgba(var(--br-b), 1);

            &:hover {
                background-color: rgba(var(--bg-e),1.0);
                color: rgba(var(--cl-a),1.0);
            }
        }

        .bottom {
            margin-top: 30px;
    
            span {
                display: block;
                margin-bottom: 10px;
                font-family: var(--font-family);
                font-size: 14px;
                line-height: 100%;
                font-weight: 700;
            }
    
            ul {
                font-family: var(--font-family);
                font-size: 14px;
                line-height: 114%;
                font-weight: 400;
            }
        }
    }
}