.nav {
    margin-bottom: 40px;

    ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        display: grid;
        grid-template-columns: repeat(auto-fill, 122px);
        gap: 10px;

        a {
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            background-color: #fff;
            border-radius: 4px;
            font-family: var(--font-family);
            font-size: 16px;
            font-weight: 700;
            line-height: 100%;
            color: rgba(var(--cl-e),1.0);
            transition: all 0.3s ease;
            box-shadow: 0 0 20px 0 rgba(22, 31, 48, 0.1);

            &:hover {
                color: rgba(var(--cl-a),1.0);
                background-color: rgba(var(--bg-e),1.0);
            }

            &.active {
                color: rgba(var(--cl-a),1.0);
                background-color: rgba(var(--bg-e),1.0);
                font-weight: 700;
            }
        }
    }

    @media (max-width: 992px) {
        display: none;
    }
}