.order-list {
    .views-exposed-form {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        gap: 10px;

        .js-form-item {
            width: 100%;

            input {
                height: 40px;
                padding: 11px 20px 11px;
                background-color: rgba(var(--bg-a),1.0);
                border: 1px solid rgba(var(--br-a),1.0);
                border-radius: 4px;
                font-family: var(--font-second);
                font-size: 14px;
                line-height: 114%;
                font-weight: 600;
                color: rgba(var(--cl-c),1.0);
        
                &::placeholder {
                    font-size: 14px;
                    line-height: 114%;
                    font-weight: 600;
                    color: rgba(var(--cl-d),1.0);
                }
            }
        }

        .form-submit {
            width: 100%;
            padding: 11px 30.5px;
            background-color: rgba(var(--bg-e),1.0);
            border: 2px solid rgba(var(--bg-e),1.0);
            border-radius: 4px;
            display: block;
            font-family: var(--font-family);
            font-size: 14px;
            line-height: 100%;
            font-weight: 700;
            color: rgba(var(--cl-a),1.0);
            text-align: center;
            transition: all 0.4s ease-in-out;
            cursor: pointer;
    
            &:hover {
                background-color: rgba(var(--bg-a),1.0);
                color: rgba(var(--cl-e),1.0);
            }
        }
    }

    .table-wrapper {
        margin-bottom: 30px;

        @include tablet {
            width: calc(100% + 20px);
            padding-right: 20px;
            overflow-x: auto;
        }
    }

    table {
        width: 100%;
        border-spacing: 0;
        
        thead {
            background-color: #fff9c3;

            th {
                padding: 7px 11px 9px;
                font-family: var(--font-family);
                font-size: 12px;
                line-height: 100%;
                font-weight: 700;
                color: rgba(var(--cl-c),1.0);
                border-right: 1px solid #efc8b3;

                &:last-child {
                    border-right: none;  
                }
            }
        }

        tbody {
            background-color: #fff;

            tr:last-child td { 
                border-bottom: none;  
            }

            td {
                padding: 10px 10px 15px;
                font-family: var(--font-family);
                font-size: 14px;
                line-height: 100%;
                font-weight: 400;
                color: rgba(var(--cl-c),1.0);
                border-right: 1px solid rgba(var(--br-a),1.0);
                border-bottom: 1px solid rgba(var(--br-a),1.0);

                &:last-child {
                    border-right: none;  
                }
            }

            a {
                padding: 4px 6px;
                border-radius: 4px;
                font-family: var(--font-family);
                font-size: 12px;
                line-height: 100%;
                font-weight: 400;
                color: rgba(var(--cl-d),1.0);
                background-color: rgba(var(--bg-n),1.0);
                transition: all 0.3s ease;
                text-wrap: nowrap;

                &:hover {
                    background-color: rgba(var(--bg-e),1.0);
                    color: rgba(var(--cl-a),1.0);
                }
            }
        }

        @include tablet {
            min-width: 985px;
        }
    }

    .bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}