.promo {
    position: relative;
    height: 100%;

    &__slider {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    &__container {
        height: 100%;
    }

    &__controls {
        position: absolute;
        right: 40px;
        bottom: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        z-index: 5;
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        border: 2px solid rgba(var(--bg-a),1.0);
        color: rgba(var(--cl-a),1.0);
        transition: all 0.4s ease-in-out;

        svg {
            fill: currentColor;
        }

        &:hover {
            background-color: rgba(var(--bg-e),1.0);
            border: 2px solid rgba(var(--br-b),1.0);
        }
    }

    &__slide {
        padding: 40px;
        display: flex;
        align-items: center;

        &-bg {
            position: absolute;
            inset: 0;
            z-index: -1;

            picture,
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-info {
            max-width: 420px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: clamp(10px, 1.465vw, 15px);
            padding: 30px clamp(20px, 2.93vw, 30px);
            background-color: rgba(var(--bg-a),1.0);
        }

        &-title {
            // font-size: clamp(20px, 3.906vw, 40px);
            line-height: 110%;
            // font-weight: 900;
            color: rgba(var(--cl-c),1.0);

            span,
            b,
            strong {
                word-break: break-all;
            }
        }

        &-link {
            padding: 10px 30px;
            background-color: rgba(var(--bg-e),1.0);
            border: 2px solid rgba(var(--bg-e),1.0);
            font-family: var(--font-third);
            font-size: 16px;
            line-height: 100%;
            font-weight: 900;
            text-transform: uppercase;
            color: rgba(var(--cl-a),1.0);
            transition: all 0.4s ease-in-out;

            &:hover {
                color: rgba(var(--cl-e),1.0);
                background-color: rgba(var(--cl-a),1.0);
            }
        }

        &.text-right {
            justify-content: flex-end;
        }
    }

    @include laptop {
        &__slide {
            padding: 80px 40px;
        }
    }

    @include small-tablet {
        height: 394px;
        width: calc(100vw + 30px);
        margin-left: -30px;
        padding-right: 25px;

        &__slide {
            padding: 10px 15px;
            align-items: flex-end;

            &.text-right {
                align-items: flex-start;
            }
        }

        &__controls {
            display: none;
        }
    }
}