.return-guarantee {
    padding: 30px 20px;
    background-color: rgba(var(--bg-c),1.0);
    display: flex;
    flex-direction: column;
    gap: 30px;

    .sitecontent-garant-revoke {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 11px;

        label {
            width: 100%;
            position: relative;
            
            input {
                height: 53px;
                border: 1px solid rgba(var(--br-a),1.0);
                padding: 27px 12px 8px;
                background-color: rgba(var(--bg-a),1.0);
                font-family: var(--font-second);
                font-size: 14px;
                line-height: 114%;
                font-weight: 600;
                color: rgba(var(--cl-c),1.0); 

                &.focus-visible ~ span {
                    transform: translateY(-20px);
                }
            }

            span {
                position: absolute;
                left: 12px;
                top: 50%;
                transform: translateY(-50%);
                font-family: var(--font-second);
                font-size: 14px;
                line-height: 114%;
                font-weight: 600;
                color: rgba(var(--cl-d),1.0);
                transition: all 0.4s ease-in-out;
            }
        }

        .form-submit {
            height: 53px;
            width: 100%;
            padding: 17px 0;
            background-color: rgba(var(--bg-e),1.0);
            border: 2px solid rgba(var(--bg-e),1.0);
            display: block;
            font-family: var(--font-third);
            font-size: 16px;
            line-height: 108%;
            font-weight: 900;
            color: rgba(var(--cl-a),1.0);
            text-align: center;
            text-transform: uppercase;
            transition: all 0.4s ease-in-out;
            cursor: pointer;
    
            &:hover {
                background-color: rgba(var(--bg-a),1.0);
                color: rgba(var(--cl-e),1.0);
            }
        }
    }
}