<header>
    <div class="container">
        <div class="header">
            <a class="header__logo" href="/" >
                <picture>
                  <source type='image/webp' srcset='img/ritm-logo.webp'>
                  <img width='233' height='80' src='img/ritm-logo.png' alt='РИТМ'>
                </picture>
            </a>

            <div class="header__btns">
                <a href="#" class="header__boarded boarded"
                    data-aos-delay="50">
                    Take the quiz

                    <svg width='20' height='20'>
                        <use href='img/sprite/sprite.svg#gift'></use>
                    </svg>
                </a>
                
                <a href="#" class="header__blue blue"><span>Try ZenDiver for free</span></a>
            </div>

            <button class="burger">
                <span class="burger__bg"></span>
                <span class="burger__line"></span>
            </button>
        </div>

        <div class="header-menu">
            <div class="header-menu__box">

            </div>
        </div>
    </div>
</header>