<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="Description" content="Ритм">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>РИТМ</title>

    <link rel="preload" href="fonts/STIHLContrafaceText-Regular.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/STIHLContrafaceText-Bold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/STIHLContrafaceTextDemi.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/STIHLContrafaceDisplayTitling.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/OpenSans-Regular.woff2" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>

