<header>
    <div class="container">
        <div class="header">
            <a class="header__logo" href="/" >
                <picture>
                  <source type='image/webp' srcset='img/ritm-logo.webp'>
                  <img width='233' height='80' src='img/ritm-logo.png' alt='РИТМ'>
                </picture>
            </a>

            <div class="header__box">
                <div class="header__controls">
                    <div class="phones">
                        <span class="phones__trigger">
                            <i>
                                <svg width='16' height='16'>
                                    <use href='img/sprite/sprite.svg#phone'></use>
                                </svg>
                            </i>
                        </span>

                        <ul class="phones__body">
                            <li>
                                <a href="tel:+77272479060">+7 (727) 247-90-60</a>
                            </li>
                            <li>
                                <a href="tel:+77714125947">+7 (771) 412-59-47</a>
                            </li>
                        </ul>
                    </div>

                    <div class="locations">
                        <span class="locations__trigger">
                            <i>
                                <svg width='16' height='16'>
                                    <use href='img/sprite/sprite.svg#location'></use>
                                </svg>
                            </i>
                        </span>

                        <ul class="locations__body">
                            <li>
                                <a href="#">г. Алматы, Райымбека проспект, 312д</a>
                            </li>
                        </ul>
                    </div>
    
                    <div class="links">
                        <span class="links__trigger">
                            <i>
                                <svg width='16' height='16'>
                                    <use href='img/sprite/sprite.svg#links'></use>
                                </svg>
                            </i>
                        </span>

                        <ul class="links__body">
                            <li>
                                <a href="https://stihl-importer.kz/">stihl-importer.kz</a>
                            </li>
                            <li>
                                <a href="https://wagner-kazakhstan.com/">wagner-kazakhstan.com</a>
                            </li>
                            <li>
                                <a href="https://ritm.asia/">ritm.asia</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="profile">
                    <span class="profile__trigger">
                        <i>
                            <svg width='16' height='16'>
                                <use href='img/sprite/sprite.svg#profile'></use>
                            </svg>
                        </i>

                        <p>direktor, ТОО “Ваш инструмент”, Мастер</p>
                    </span>

                    <ul class="profile__body">
                        <li>
                            <a href="#">Написать в техподдержку</a>
                        </li>
                        <li>
                            <a href="#">Сертификаты на продукцию</a>
                        </li>
                        <li>
                            <a href="#">Выйти</a>
                        </li>
                    </ul>
                </div>
            </div>

            <button class="burger">
                <span class="burger__bg"></span>
                <span class="burger__line"></span>
            </button>
        </div>

        <div class="header-menu">
            <div class="header-menu__box">

            </div>
        </div>
    </div>
</header>