.button {
  display: block;
  padding: 17px 30px;
  background-color: rgba(var(--bg-e), 1);
  border: 1px solid rgba(var(--bg-e), 1);
  border-radius: 4px;
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: rgba(var(--cl-a), 1);
  transition: .4s ease-in-out;
  text-wrap: wrap;
  cursor: pointer;

  &:hover {
    background-color: rgba(var(--bg-a),1.0);
    color: rgba(var(--cl-e),1.0);
  }

  @include small-tablet {
    width: 100%;
    padding: 17px 14px;
    font-size: 14px;
    line-height: 114%;
  }
}

.btn {
    display: block;
    padding: 13px 30px;
    background-color: rgba(var(--bg-e), 1);
    border: 1px solid rgba(var(--bg-e), 1);
    border-radius: 4px;
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 100%;
    font-weight: 700;
    text-align: center;
    color: rgba(var(--cl-a), 1);
    transition: .4s ease-in-out;
    text-wrap: wrap;
    cursor: pointer;

    &-primary {
        width: fit-content;
    }
  
    &:hover {
      background-color: rgba(var(--bg-a),1.0);
      color: rgba(var(--cl-e),1.0);
    }
  
    @include small-tablet {
      width: 100%;
      padding: 17px 14px;
      font-size: 14px;
      line-height: 114%;
    }
}