.partner {
    height: clamp(103px, 17.578vw, 180px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(var(--bg-f),1.0);
    border-radius: 10px;
    padding: 0 18px;

    picture,
    img {
        width: 100%;
        object-fit: cover;
    }
}