@mixin font-face($font-family, $url, $weight, $style) {
  @font-face {
    font-style: $style;
    font-weight: #{$weight};
    font-family: "#{$font-family}";

    font-display: swap;
    src: url("../fonts/#{$url}.woff2") format("woff2"),
    url("../fonts/#{$url}.woff") format("woff");
  }
}

@include font-face("STIHLContrafaceText", "STIHLContrafaceText-Regular", 400, normal);
// @include font-face("STIHLContrafaceText", "STIHLContrafaceText-SemiBold", 600, normal);
@include font-face("STIHLContrafaceText", "STIHLContrafaceText-Bold", 700, normal);

@include font-face("STIHLContrafaceTextDemi", "STIHLContrafaceTextDemi", 600, normal);
@include font-face("STIHLContrafaceDisplay", "STIHLContrafaceDisplayTitling", 900, bold);



@include font-face("Open Sans", "OpenSans-Regular", 400, normal);