html {
  box-sizing: border-box;
  width: 100%;

  height: 100%;
}

body {
  background: var(--body-bg);  
  position: relative;
  overflow-x: hidden;
  width: 100%;
  min-height: -webkit-fill-available;
  margin: 0 auto;

  font-family: var(--font-family);
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  display: flex;
  flex-direction: column;

  &.active {
    overflow: hidden;
  }
}

.dialog-off-canvas-main-canvas {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

main {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


a {
  display: inline-flex;
  margin: 0;

  font-style: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
  text-decoration: none;

  cursor: pointer;
}

button {
  display: inline-flex;
  margin: 0;
  padding: 0;

  line-height: initial;
  color: inherit;

  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;

  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

p {
  font-size: 15px;
  // font-family: var(--font-family);
  font-weight: 400;
  color: rgba(var(--cl-b),1.0);
  font-style: normal;
  line-height: 130%;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

svg {
  fill: currentColor;
}

picture {
  display: inline-flex;
}

label {
  display: inline-flex;
}

input {
  width: 100%;

  background-color: transparent;
  border: none;
  outline: none;

  &::placeholder {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;

  appearance: none;
}

textarea {
  border: none;
  outline: none;

  resize: none;
}

input[type="number"] {
  appearance: textfield;
}

.just-validate-error-label{
  position: absolute;
  bottom: 0;
  left: 50%;
  white-space: nowrap;
  transform: translate(-50%, 100%);
  font-size: 12px;
}

.container {
  position: relative;

  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--container-offset);

  &--mode{
    max-width: var(--container-width--mode);
  }
}

.panel,
[data-content] {
  z-index: 20;

  max-height: 0;
  overflow: hidden;

  transition: max-height 0.2s;
}

.main-inner{
  padding:clamp(50px, 4.6154vw, 60px) 0;

  &__box{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 309px 1fr;
  
    @include tablet{
      grid-template-columns: 1fr;
    }
  }
}

.dis-scroll {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  overflow: hidden;

  overscroll-behavior: none !important;
  scroll-behavior: none !important;
}

.test {
  display: block;
  margin: 20px 0;
}

fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.hidden,
.js-hide,
.visually-hidden {
  display: none !important;
  visibility: hidden !important;
}

.user-logged-in {
  .block-section__wrapp {
    display: grid;
    grid-template-columns: 1fr 75.2%;
    grid-gap: clamp(15px, 3.906vw, 30px);

    @include laptop {
        grid-template-columns: 100%;
    }

    @include tablet {
        .block-section__aside {
            display: none;
        }
    }
  }
}

.table-wrapper {
  margin: 30px 0;

  @include tablet {
      width: calc(100% + 20px);
      padding-right: 20px;
      overflow-x: auto;
  }
}

.table {
  width: 100%;
  border-spacing: 0;
  
  thead {
      background-color: #fff9c3;

      th {
          padding: 7px 11px 9px;
          font-family: var(--font-family);
          font-size: 12px;
          line-height: 100%;
          font-weight: 700;
          color: rgba(var(--cl-c),1.0);
          border-right: 1px solid #efc8b3;

          &:last-child {
              border-right: none;  
          }
      }
  }

  tbody {
      background-color: #fff;

      tr:last-child td { 
          border-bottom: none;  
      }

      td {
          padding: 10px 10px 15px;
          font-family: var(--font-family);
          font-size: 14px;
          line-height: 100%;
          font-weight: 400;
          color: rgba(var(--cl-c),1.0);
          border-right: 1px solid rgba(var(--br-a),1.0);
          border-bottom: 1px solid rgba(var(--br-a),1.0);

          &:last-child {
              border-right: none;  

              div + div {
                margin-top: 5px;
              }
          }
      }

      a {
          padding: 4px 6px;
          border-radius: 4px;
          font-family: var(--font-family);
          font-size: 12px;
          line-height: 120%;
          font-weight: 400;
          color: rgba(var(--cl-d),1.0);
          background-color: rgba(var(--bg-n),1.0);
          transition: all 0.3s ease;
          text-wrap: nowrap;

          &:hover {
              background-color: rgba(var(--bg-e),1.0);
              color: rgba(var(--cl-a),1.0);
          }
      }
  }

  @include tablet {
      min-width: 985px;
  }
}

.bottom {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.grid-3-rows {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;

  @include small-tablet {
    grid-template-columns: 100%;
    grid-gap: 15px;
  }
}

.views-exposed-form {
  display: flex;
  align-items: center;
  gap: 10px;

  @include mobile {
    flex-direction: column;
  }
}

.js-form-type-textfield,
.js-form-type-email,
.js-form-type-date,
.js-form-type-password,
.js-form-type-textarea,
.js-form-type-entity-autocomplete {
  width: 100%;
  position: relative;

  label {
    position: absolute;
    top: 9px;
    left: 12px;
    font-family: var(--font-second);
    font-size: 14px;
    line-height: 114%;
    font-weight: 600;
    color: rgba(var(--cl-d),1.0);
  }

  input {
    padding: 29px 12px 8px;
    display: flex;
    align-items: center;
    height: 53px;
    background-color: rgba(var(--bg-a),1.0);
    border: 1px solid rgba(var(--br-a),1.0);
    font-family: var(--font-second);
    font-size: 14px;
    line-height: 114%;
    font-weight: 600;
    color: rgba(var(--cl-c),1.0);

    &::placeholder {
      color: rgba(var(--cl-d),1.0);
    }

    &:read-only {
      background-color: rgba(var(--bg-h),1.0);
    }
  }

  textarea {
    width: 100%;
    padding: 29px 12px 8px;
    display: flex;
    align-items: center;
    background-color: rgba(var(--bg-a),1.0);
    border: 1px solid rgba(var(--br-a),1.0);
    font-family: var(--font-second);
    font-size: 14px;
    line-height: 114%;
    font-weight: 600;
    color: rgba(var(--cl-c),1.0);
  
    &::placeholder {
      color: rgba(var(--cl-d),1.0);
    }
  
    &:read-only {
      background-color: rgba(var(--bg-h),1.0);
    } 
  }
}

.js-form-type-radio {
  display: flex;
  align-items: center;
  gap: 10px;

  input {
    width: fit-content;
    margin: 0;
  }

  label {
    cursor: pointer;
  }
}

.js-form-type-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;

  input {
    width: fit-content;
    margin: 0;
  }

  label {
    cursor: pointer;
  }
}

.js-form-type-select {
  position: relative;
  width: 100%;

  label {
    position: absolute;
    top: 9px;
    left: 12px;
    font-family: var(--font-second);
    font-size: 14px;
    line-height: 114%;
    font-weight: 600;
    color: rgba(var(--cl-d),1.0);
    z-index: 5;
  }

  select {
    width: 100%;
    padding: 22px 12px 8px;
    display: flex;
    align-items: center;
    height: 53px;
    background-color: rgba(var(--bg-a),1.0);
    border: 1px solid rgba(var(--br-a),1.0);
    font-family: var(--font-second);
    font-size: 14px;
    line-height: 114%;
    font-weight: 600;
    color: rgba(var(--cl-c),1.0);
    appearance: none;
  }
}

.sitecontent-product-register {
  & > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  #edit-field-lico {
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;

    @include small-tablet {
      grid-column: initial;
      grid-template-columns: 100%;
      grid-gap: 15px;
    }
  }

  #edit-field-ispolz {
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;

    @include small-tablet {
      grid-column: initial;
      grid-template-columns: 100%;
      grid-gap: 15px;
    }
  }
}

.form-col-6 {
  .views-exposed-form {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
  }

  .js-form-item {
    grid-column: span 2;
  }

  fieldset {
    grid-column: span 2;

    legend {
      display: none;
    }

    .fieldset-wrapper {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  .form-item-field-sku-value, 
  .form-item-field-product-labels-value { 
    grid-column: span 3;
  }

  .form-actions input {
    padding: 13px 30px;
    font-family: var(--font-family);
    text-transform: capitalize;
    background-color: rgba(var(--bg-a),1.0);
    color: rgba(var(--cl-e),1.0);

    &:hover,
    &:active {
      background-color: rgba(var(--bg-e),1.0);
      color: rgba(var(--cl-a),1.0);
    }
  }

  @include small-tablet {
    .views-exposed-form {
      grid-template-columns: 100%;
      grid-gap: 15px;
    }

    .form-item-field-sku-value, 
    .form-item-field-product-labels-value,
    .js-form-item {
      grid-column: 1;
    }
  }
}

.sitecontent-ncart-list {
  margin-bottom: 30px;
}


.empty-cart-message {
  margin-bottom: 10px;
  padding: 13px 15px;
  background-color: #ebebeb;
  border-radius: 4px;
  font-size: 14px;
  line-height: 100%;
  font-weight: 700;
  color: rgba(var(--cl-d),1.0);
}

.mt-30 {
  margin-top: 30px;
}

.row-btn {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}

.vbo-table .select-all {
  display: flex;
}

.vbo-table .js-form-type-checkbox {
  justify-content: center;
}

.flex-basis-50 .views-exposed-form {
  width: calc(100% + 10px);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.flex-basis-50 .js-form-item {
  flex-basis: 49%;
}

.flex-basis-50 .button {
  text-transform: initial;
}

.form-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

// ncart
#card-add-wrapper .form-actions {
  margin-top: 10px;
}
#card-add-wrapper .form-actions .button,
#card-list-wrapper .form-actions .button {
  text-transform: initial;
}

.margin-top-lg {
  margin: 30px 0 10px;
}
// ncart end

// colors
.table tbody .flag-bookmark a,
.table tbody .flag-wishlist a {
  background-color:  #fde1d2;
  color: #f46717;

  &:hover {
    background-color: rgba(var(--bg-e),1.0);
    color: rgba(var(--cl-a),1.0);
  }
}

.label-success {
  padding: 3px 7px;
  border-radius: 4px;
  background-color: #1fa956;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  color: rgba(var(--cl-a),1.0);
}

.label-danger {
  padding: 3px 7px;
  border-radius: 4px;
  background-color: #E23030;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  color: rgba(var(--cl-a),1.0);
}

.more-100 {
  text-wrap: nowrap;
  border-radius: 4px;
  background-color: #1fa956;
  padding: 1px 5px;
  font-size: 12px;
  line-height: 117%;
  font-weight: 700;
  color: rgba(var(--cl-a),1.0);
  letter-spacing: -0.05em;
}

.more-0 {
  text-wrap: nowrap;
  border-radius: 4px;
  background-color: #e23030;
  padding: 1px 5px;
  font-size: 12px;
  line-height: 117%;
  font-weight: 700;
  color: rgba(var(--cl-a),1.0);
  letter-spacing: -0.05em;
}

.more-1 {
  text-wrap: nowrap;
  border-radius: 4px;
  background-color: #ffcdcd;
  padding: 1px 5px;
  font-size: 12px;
  line-height: 117%;
  font-weight: 700;
  color: rgba(var(--cl-h),1.0);
  letter-spacing: -0.05em;
}

.more-10 {
  text-wrap: nowrap;
  border-radius: 4px;
  background-color: #f46717;
  padding: 1px 5px;
  font-size: 12px;
  line-height: 117%;
  font-weight: 700;
  color: rgba(var(--cl-a),1.0);
  letter-spacing: -0.05em;
}

.grey-status {
  padding: 3px 7px;
  border-radius: 4px;
  background-color: rgba(var(--bg-n), 1);
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: rgba(var(--cl-d), 1);
}

.green-status {
  padding: 3px 7px;
  border-radius: 4px;
  background-color: #1fa956;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: rgba(var(--cl-a),1.0);
}

.dark-blue-status {
  padding: 3px 7px;
  border-radius: 4px;
  background-color: #1976d2;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: rgba(var(--cl-a),1.0);
}

.light-blue-status {
  padding: 3px 7px;
  border-radius: 4px;
  background-color: #00b2ff;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: rgba(var(--cl-a),1.0);
}

.purple-status {
  padding: 3px 7px;
  border-radius: 4px;
  background-color: #9747ff;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: rgba(var(--cl-a),1.0);
}

.red-status {
  padding: 3px 7px;
  border-radius: 4px;
  background-color: #E23030;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: rgba(var(--cl-a),1.0);
}

.yellow-status {
  padding: 3px 7px;
  border-radius: 4px;
  background-color: #fff500;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color:  #615d00;
}

.dark-yellow-status {
  padding: 3px 7px;
  border-radius: 4px;
  background-color: #b6a400;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: rgba(var(--cl-a),1.0);
}

.orange-status {
  padding: 3px 7px;
  border-radius: 4px;
  background-color: #f46717;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: rgba(var(--cl-a),1.0);
}

.dark-green-status {
  padding: 3px 7px;
  border-radius: 4px;
  background-color: #00c8c1;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: rgba(var(--cl-a),1.0);
}

// tabs
.quicktabs-tabs {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 10px;

  li {
      box-shadow: 0 0 20px 0 rgba(22, 31, 48, 0.1);
      border-radius: 4px;
      font-family: var(--font-family);
      font-size: 16px;
      line-height: 100%;
      font-weight: 700;
      transition: all 0.4s ease-in-out;

      a {
          padding: 12px 18px;
      }

      &:hover,
      &.active {
          color: rgba(var(--cl-a),1.0);
          background-color: rgba(var(--bg-e),1.0);
          box-shadow: none;
      }
  }
}

// Modal {
.ui-widget.ui-widget-content {
  border: none !important;
  padding: 0 !important;
  border-radius: 5px;
}

.ui-dialog .ui-dialog-content {
  padding: 0px 30px 30px !important;
}

.ui-dialog .ui-dialog-titlebar {
  padding: 30px !important;
  border: none !important;
  background-color: transparent;
  text-transform: uppercase;
}

.ui-dialog .ui-dialog-titlebar-close {
  right: 30px !important;
  top: 30px !important;
}

#card-edit-item-wrapper .js-form-type-textfield input {
  padding: 8px 12px;
  height: auto;
}

#card-comments-wrapper .sitecontent-ncart-comments {
  display: flex;
  flex-direction: column;
}

#card-comments-wrapper .js-form-item {
  position: relative;
}

#card-comments-wrapper .js-form-item + .js-form-item {
  margin-top: 10px;
}

#card-comments-wrapper .js-form-item label {
  position: absolute;
  top: 9px;
  left: 12px;
  font-family: var(--font-second);
  font-size: 14px;
  line-height: 114%;
  font-weight: 600;
  color: rgba(var(--cl-d),1.0);
}

#card-comments-wrapper .js-form-item textarea {
  width: 100%;
  padding: 29px 12px 8px;
  display: flex;
  align-items: center;
  background-color: rgba(var(--bg-a),1.0);
  border: 1px solid rgba(var(--br-a),1.0);
  font-family: var(--font-second);
  font-size: 14px;
  line-height: 114%;
  font-weight: 600;
  color: rgba(var(--cl-c),1.0);

  &::placeholder {
    color: rgba(var(--cl-d),1.0);
  }

  &:read-only {
    background-color: rgba(var(--bg-h),1.0);
  }
}

#card-comments-wrapper fieldset {
  margin: 30px 0 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#card-comments-wrapper fieldset legend {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 114%;
  font-weight: 700;
  color: #000;
}

#card-comments-wrapper  .fieldset-wrapper label {
  position: relative;
  top: initial;
  left: initial;
}

#card-comments-wrapper .button {
  width: fit-content;
  text-transform: initial;
}

#card-delete-item-wrapper form > div {
  margin-bottom: 30px;
}

#card-delete-item-wrapper .btn {
  width: 100%;
}

#card-delete-item-wrapper .btn + .btn {
  margin-top: 20px;
}

// price
.sitecontent-export-products .form-actions {
  margin: 20px 0 30px;
}

.sitecontent-export-products .js-form-item {
  font-family: var(--font-second);
  font-size: 14px;
  line-height: 114%;
  font-weight: 600;
  color: rgba(var(--cl-d),1.0);
}

.sitecontent-export-products .js-form-item + .js-form-item {
  margin-top: 10px;
}

.sitecontent-export-products .form-actions .button {
  width: fit-content;
  text-transform: initial;
}

.sitecontent-export-products a {
  margin-bottom: 20px;
  display: block;
  width: fit-content;
  padding: 13px 30px;
  background-color: rgba(var(--bg-e), 1);
  border: 1px solid rgba(var(--bg-e), 1);
  border-radius: 4px;
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  text-align: center;
  color: rgba(var(--cl-a), 1);
  transition: .4s ease-in-out;
  text-wrap: wrap;
  cursor: pointer;

  &:hover {
    background-color: rgba(var(--bg-a),1.0);
    color: rgba(var(--cl-e),1.0);
  }
}

.sitecontent-export-products h5 {
  margin-bottom: 10px;
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 114%;
  font-weight: 700;
  color: rgba(var(--cl-c),1.0);
}

.sitecontent-export-products li {
  font-size: 14px;
  line-height: 114%;
  font-weight: 400;
  color: rgba(var(--cl-c),1.0);
}

.sitecontent-export-products li + li{
  margin-top: 5px;
}

// Обращение
.webform-submission-form .form-actions .button {
  margin-top: 30px;
  width: fit-content;
  padding: 18px 40px;
}

.webform-submission-form .fields {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.webform-submission-form .fields .js-form-item:nth-child(n + 4) {
  grid-column: span 3;
}


.webform-submission-form #ajax-wrapper {
  grid-column: span 3;
  margin-top: 20px;
}

.webform-submission-form #ajax-wrapper > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.webform-submission-form #ajax-wrapper label {
  font-family: var(--font-second);
  font-size: 14px;
  line-height: 114%;
  font-weight: 600;
  color: rgba(var(--cl-d),1.0);
}

.webform-submission-form #ajax-wrapper .description {
  font-size: 14px;
  line-height: 100%;
  font-weight: 400;
  color: rgba(var(--cl-d),1.0);
}

.webform-submission-form #ajax-wrapper .js-webform-image-file .js-form-item {
  margin: 10px 0;
}

.webform-submission-form #ajax-wrapper .js-webform-image-file .button {
  width: fit-content;
  // padding: 18px 40px;
}

// fix slider
.views-element-container > div {
  height: 100%;
}