h1,
.title{
  font-size: 30px;
  line-height: 113%;
  font-weight: 900;
  letter-spacing: 0.1em;
  color: rgba(var(--cl-c),1.0);
}

h2,
.subtitle{
  font-family: var(--font-primary);
  font-size: clamp(30px, 2.778vw, 40px);
  line-height: 150%;
  font-weight: 600;
}
